* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

.container {
  margin-top: 10px;
  height: 800px;
  width: 600px;
  background-color: #246469a6;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

#input-tarefa {
  height: 30px;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  margin-left: 50px;
}

.botao-ind {
  padding: 5px;
  width: 30%;
  height: 35px;
  background-color: #01bb64;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tarefas {
  background-color: white;
  height: 85%;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  overflow-y: auto;
}

.tarefas ul li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 0;
  cursor: pointer;
  background-color: rgb(192, 192, 192);
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

ul li input {
  width: 20px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

ul li p {
  margin-left: 10px;
  font-size: 1.1em;
  color: black;
}

ul li .botoes-tarefa {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  gap: 10px;
}

.botoes-tarefa button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.botoes-tarefa button:hover {
  background-color: #0f2426;
}

.tarefas ul .clicado {
  background-color: rgb(145, 145, 145);
}

.clicado p {
  text-decoration: line-through;
}

.arquivos {
  margin-bottom: 5px;
}
